body {
    height: 100vh;
    width: 100%;
    padding: 0;
    color: white;
    box-sizing: border-box;
}

main {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-container {
    width: 10%;
    padding: 2rem;
    display: flex;
    background: linear-gradient(rgb(21, 21, 66), rgb(35, 35, 123));
    font-size: larger;
}

.form-container input { 
    margin: 10px 0 10px 0;
}

textarea {
    width: 100%;
    resize: vertical;
    max-width: 100%;
}

label {
    display: block;
}

h1 {
    color: black;
}