body {
    height: 100vh;
    width: 100%;
    padding: 0;
}

main {
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

h1 {
    text-align: center;

}

.container {
    height: auto;
    width: 100%;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    border: 2px solid red;
}

.task-container {
    width: 90%;
    padding: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    border: 2px solid red;

}

.task {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.3rem;
    gap: 3px;
    color: white;
    mix-blend-mode: difference;
    padding: 10px;
    border: 2px solid red;

}

.task-content {
    padding: 1.2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 5px;
    background: linear-gradient(rgb(21, 21, 66), rgb(35, 35, 123));
    border-radius: 20px;
    border: 2px solid red;

}

.title {
    width: 100%;
    padding: 0;
    border: 2px solid red;
    overflow: hidden;

}

.title h3 {
    width: 100%;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 0; /* Reset default margin */
    padding: 10px;
}


.buttons {
    border-radius: 5px;
    background-color: aliceblue;

}